.app {
  padding: 50px;
  width: calc(100% - 170px);
  margin-left: 170px;
  background-color: #FDFFFC;
}

.app-sidebar {
  width: 170px;
  height: 100vh;
  position: fixed;
  box-shadow: 0px 0px 10px rgba(0,0,0,.1);
  padding: 20px !important;
  color: #23C6AE;
}

.app-sidebar .item {
  margin-bottom: 10px;
}

.app-sidebar a, .app-sidebar i {
  color: #23C6AE;
  font-size: 16px;
}